In [2]:
%run ./../../utils/commonImports.py
%run ./../../utils/tradingImports.py
%matplotlib inline

# Load Data

In [3]:
df = read_tsv('D:\\Dropbox\\My work\\krypl-project\\analysis\\return-01-within-day.tsv')
df = df[['date', 'maxReturn', 'tillMax', 'minReturn']].head(df.shape[0] - 2)

In [9]:
df.query('maxReturn >= 0.001').shape[0] / df.shape[0]

0.9048169341360521

# Basic Stats

In [16]:
query = '(maxReturn > 0.01)'
df_true = df.query(query)
df_false = df.query(f'not {query}')

In [17]:
df_true.describe()

         maxReturn      tillMax    minReturn
count 145,261.0000 145,261.0000 145,261.0000
mean        0.0132     149.6656      -0.0194
std         0.0043     244.0073       0.0303
min         0.0100       0.0000      -0.3172
25%         0.0108      15.0000      -0.0220
50%         0.0119      49.0000      -0.0089
75%         0.0139     158.0000      -0.0031
max         0.0930   1,438.0000       0.0067

In [18]:
df_false.describe()

        maxReturn     tillMax   minReturn
count 15,692.0000 15,692.0000 15,692.0000
mean      -0.0958  1,404.5342     -0.1663
std        0.0677    154.5982      0.0838
min       -0.4036      0.0000     -0.4272
25%       -0.1277  1,438.0000     -0.2125
50%       -0.0858  1,438.0000     -0.1479
75%       -0.0468  1,438.0000     -0.1082
max        0.0096  1,438.0000     -0.0001