In [1]:
%run ./../../utils/commonImports.py
%matplotlib inline

# Load Data

In [2]:
db = 'D:\\Dropbox\\My work\\krypl-project\\sqlite\\ploniex-chart-data\\USDT_BTC.db'
data = load_trading_data(db, 'chart_data', from_date='2014-01-01', period='5min')

In [3]:
data.head()

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date
0,1424373000,5min,225.0000,225.0000,225.0000,225.0000,1.0000,0.0044,225.0000,2015-02-19 19:10:00
1,1424373300,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:15:00
2,1424373600,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:20:00
3,1424373900,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:25:00
4,1424374200,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:30:00

# Test Data - Timestamp diff

In [4]:
diffs = data['timestamp'].shift(-1) - data['timestamp']
data['timestampDiff'] = diffs

In [5]:
diffs.value_counts()

300.0000    381241
Name: timestamp, dtype: int64

In [7]:
zero_diff = data.query('timestampDiff == 1200')
zero_diff

Empty DataFrame
Columns: [timestamp, period, open, high, low, close, volume, quoteVolume, weightedAverage, date, timestampDiff]
Index: []

# Day Difference Calc

In [15]:
from datetime import timedelta

def day_diff(ohlc):
    diffs = []
    for i in range(ohlc.shape[0]):
        row = ohlc.iloc[i, :]
        current_date = row['day']
        yesterday_date = current_date - timedelta(days=1)

In [30]:
d = {}
d.get('5', 0)

0

In [31]:
from utils.date import timestamp_to_date
from datetime import timedelta


def ohlc4(day_data):
    day_data = day_data.reset_index()
    _open = day_data.loc[0, 'open']
    close = day_data.iloc[-1, :]['close']
    high = day_data['high'].max()
    low = day_data['low'].min()
    return np.mean([_open, close, high, low])
    

ohlc = data[['timestamp', 'period', 'open', 'high', 'low', 'close', 'date']].copy()
ohlc['day'] = ohlc['timestamp'].apply(timestamp_to_date).apply(lambda x: x.date())
ohlc['yesterday'] = ohlc['day'] - timedelta(days=1)

diffs = []
yesterday_means = {}
for i in range(ohlc.shape[0]):
    if i % 1000 == 999:
        print(f"{i}/{ohlc.shape[0]}")
    
    row = ohlc.iloc[i, :]
    yesterday = ohlc[ohlc['day'] == row['yesterday']]
    if yesterday.shape[0] == 0:
        diffs.append(-10)
        continue
    
    today = ohlc.iloc[:i+1, :]
    today = today[today['day'] == row['day']]
    yesterday_mean = yesterday_means.get(row['yesterday'], ohlc4(yesterday))
    yesterday_means[row['yesterday']] = yesterday_mean
    today_mean = ohlc4(today)
    diffs.append((today_mean - yesterday_mean) / yesterday_mean)
    
data['dayDiff'] = diffs

999/381242

KeyboardInterrupt:

In [21]:
ohlc

,timestamp,period,open,high,low,close,date,day,yesterday
0,1424373000,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:10:00,2015-02-19,2015-02-18
1,1424373300,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:15:00,2015-02-19,2015-02-18
2,1424373600,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:20:00,2015-02-19,2015-02-18
3,1424373900,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:25:00,2015-02-19,2015-02-18
4,1424374200,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:30:00,2015-02-19,2015-02-18
5,1424374500,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:35:00,2015-02-19,2015-02-18
6,1424374800,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:40:00,2015-02-19,2015-02-18
7,1424375100,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:45:00,2015-02-19,2015-02-18
8,1424375400,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:50:00,2015-02-19,2015-02-18
9,1424375700,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 19:55:00,2015-02-19,2015-02-18
10,1424376000,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 20:00:00,2015-02-19,2015-02-18
11,1424376300,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 20:05:00,2015-02-19,2015-02-18
12,1424376600,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 20:10:00,2015-02-19,2015-02-18
13,1424376900,5min,225.0000,225.0000,225.0000,225.0000,2015-02-19 20:15:00,2015-02-19,2015-02-18
14,1424377200,5min,225.0000,240.0000,225.0000,240.0000,2015-02-19 20:20:00,2015-02-19,2015-02-18
15,1424377500,5min,240.0000,240.0000,240.0000,240.0000,2015-02-19 20:25:00,2015-02-19,2015-02-18
16,1424377800,5min,240.0000,240.0000,240.0000,240.0000,2015-02-19 20:30:00,2015-02-19,2015-02-18
17,1424378100,5min,240.0000,240.0000,240.0000,240.0000,2015-02-19 20:35:00,2015-02-19,2015-02-18
18,1424378400,5min,240.0000,240.0000,240.0000,240.0000,2015-02-19 20:40:00,2015-02-19,2015-02-18
19,1424378700,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 20:45:00,2015-02-19,2015-02-18
20,1424379000,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 20:50:00,2015-02-19,2015-02-18
21,1424379300,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 20:55:00,2015-02-19,2015-02-18
22,1424379600,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:00:00,2015-02-19,2015-02-18
23,1424379900,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:05:00,2015-02-19,2015-02-18
24,1424380200,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:10:00,2015-02-19,2015-02-18
25,1424380500,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:15:00,2015-02-19,2015-02-18
26,1424380800,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:20:00,2015-02-19,2015-02-18
27,1424381100,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:25:00,2015-02-19,2015-02-18
28,1424381400,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:30:00,2015-02-19,2015-02-18
29,1424381700,5min,244.0000,244.0000,244.0000,244.0000,2015-02-19 21:35:00,2015-02-19,2015-02-18
...,...,...,...,...,...,...,...,...,...
381212,1538736600,5min,"6,582.0619","6,582.1619","6,580.3584","6,580.3584",2018-10-05 10:50:00,2018-10-05,2018-10-04
381213,1538736900,5min,"6,580.1785","6,583.9200","6,577.8022","6,578.6856",2018-10-05 10:55:00,2018-10-05,2018-10-04
381214,1538737200,5min,"6,578.6900","6,583.6119","6,578.6900","6,583.6119",2018-10-05 11:00:00,2018-10-05,2018-10-04
381215,1538737500,5min,"6,584.0000","6,585.0000","6,584.0000","6,585.0000",2018-10-05 11:05:00,2018-10-05,2018-10-04
381216,1538737800,5min,"6,590.0076","6,590.1731","6,590.0076","6,590.1731",2018-10-05 11:10:00,2018-10-05,2018-10-04
381217,1538738100,5min,"6,590.1731","6,599.1718","6,590.1731","6,599.0018",2018-10-05 11:15:00,2018-10-05,2018-10-04
381218,1538738400,5min,"6,595.4416","6,595.4416","6,591.3612","6,592.2682",2018-10-05 11:20:00,2018-10-05,2018-10-04
381219,1538738700,5min,"6,599.1818","6,600.0000","6,595.9343","6,595.9343",2018-10-05 11:25:00,2018-10-05,2018-10-04
381220,1538739000,5min,"6,600.0000","6,601.2900","6,595.9509","6,598.7382",2018-10-05 11:30:00,2018-10-05,2018-10-04
381221,1538739300,5min,"6,598.5066","6,598.5066","6,598.5066","6,598.5066",2018-10-05 11:35:00,2018-10-05,2018-10-04
381222,1538739600,5min,"6,597.0000","6,597.4669","6,590.2678","6,591.1489",2018-10-05 11:40:00,2018-10-05,2018-10-04
381223,1538739900,5min,"6,591.1489","6,598.5762","6,591.1489","6,598.5762",2018-10-05 11:45:00,2018-10-05,2018-10-04
381224,1538740200,5min,"6,598.5762","6,598.5762","6,598.5762","6,598.5762",2018-10-05 11:50:00,2018-10-05,2018-10-04
381225,1538740500,5min,"6,590.2679","6,590.2679","6,590.2679","6,590.2679",2018-10-05 11:55:00,2018-10-05,2018-10-04
381226,1538740800,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815",2018-10-05 12:00:00,2018-10-05,2018-10-04
381227,1538741100,5min,"6,594.7996","6,594.8327","6,594.6011","6,594.8327",2018-10-05 12:05:00,2018-10-05,2018-10-04
381228,1538741400,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815",2018-10-05 12:10:00,2018-10-05,2018-10-04
381229,1538741700,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815",2018-10-05 12:15:00,2018-10-05,2018-10-04
381230,1538742000,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815",2018-10-05 12:20:00,2018-10-05,2018-10-04
381231,1538742300,5min,"6,595.1641","6,595.1641","6,590.6430","6,590.6430",2018-10-05 12:25:00,2018-10-05,2018-10-04
381232,1538742600,5min,"6,590.6430","6,593.7219","6,586.6563","6,586.8563",2018-10-05 12:30:00,2018-10-05,2018-10-04
381233,1538742900,5min,"6,586.8563","6,594.6043","6,585.1546","6,585.2546",2018-10-05 12:35:00,2018-10-05,2018-10-04
381234,1538743200,5min,"6,585.2546","6,585.2546","6,585.2380","6,585.2380",2018-10-05 12:40:00,2018-10-05,2018-10-04
381235,1538743500,5min,"6,584.9835","6,591.4151","6,584.9835","6,585.4000",2018-10-05 12:45:00,2018-10-05,2018-10-04
381236,1538743800,5min,"6,585.4000","6,585.4000","6,585.4000","6,585.4000",2018-10-05 12:50:00,2018-10-05,2018-10-04
381237,1538744100,5min,"6,589.1520","6,594.8563","6,589.1520","6,594.8563",2018-10-05 12:55:00,2018-10-05,2018-10-04
381238,1538744400,5min,"6,589.9249","6,594.9835","6,589.9249","6,594.9835",2018-10-05 13:00:00,2018-10-05,2018-10-04
381239,1538744700,5min,"6,590.1520","6,594.9173","6,590.1520","6,594.9173",2018-10-05 13:05:00,2018-10-05,2018-10-04
381240,1538745000,5min,"6,594.0000","6,595.0000","6,594.0000","6,595.0000",2018-10-05 13:10:00,2018-10-05,2018-10-04
381241,1538745300,5min,"6,595.1000","6,595.9343","6,595.1000","6,595.9343",2018-10-05 13:15:00,2018-10-05,2018-10-04