In [1]:
%run ./../../utils/commonImports.py
%run ./../../utils/tradingImports.py
%matplotlib inline

# Load Data

In [31]:
def load_and_divide(db, table, from_date=None, to_date=None, train_ratio=0.5, period=None):
    data = load_trading_data(db, table, from_date, to_date, period)
    data_train, data_test = divide_train_and_test(data, train_ratio)
    return data, data_train, data_test


db = 'D:\\Dropbox\\My work\\krypl-project\\sqlite\\ploniex-chart-data\\USDT_BTC.db'
data, data_train, data_test = load_and_divide(db, 'chart_data', from_date='2014-01-01', period='5min')
ohlc, ohlc_train, ohlc_test = data.copy(), data_train.copy(), data_test.copy()

In [32]:
data.head()

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date
0,1424373000,5min,225.0000,225.0000,225.0000,225.0000,1.0000,0.0044,225.0000,2015-02-19 20:10:00
1,1424373300,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:15:00
2,1424373600,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:20:00
3,1424373900,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:25:00
4,1424374200,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:30:00

# Period distribution

In [33]:
data['period'].value_counts()

5min    380697
Name: period, dtype: int64

# Timestamp diff

In [34]:
def remove_duplicates_of_timestamp(df):
    data = df.copy()
    diffs = data['timestamp'].shift(-1) - data['timestamp']
    data['timestampDiff'] = diffs
    zero_diff = data.query('timestampDiff == 0')
    data_dropped_duplicates = reset_index_hard(df.drop(zero_diff.index))
    return data_dropped_duplicates

In [35]:
data2 = data

In [36]:
diffs = data2['timestamp'].shift(-1) - data2['timestamp']
data2['timestampDiff'] = diffs

In [37]:
diffs.value_counts()

300.0000      380656
0.0000            36
3,900.0000         3
1,200.0000         1
Name: timestamp, dtype: int64

In [17]:
zero_diff = data.query('timestampDiff == 0')

In [20]:
data_dropped_duplicates = reset_index_hard(data.drop(zero_diff.index))

In [21]:
diffs = data_dropped_duplicates['timestamp'].shift(-1) - data_dropped_duplicates['timestamp']
diffs.value_counts()

300.0000      380650
3,900.0000         3
1,200.0000         1
Name: timestamp, dtype: int64

In [16]:
data.loc[71190:, :].head(10)

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date,timestampDiff
71190,1445730000,5min,280.0000,280.0000,280.0000,280.0000,0.0000,0.0000,280.0000,2015-10-25 01:40:00,300.0000
71191,1445730300,5min,280.0000,280.0000,280.0000,280.0000,0.0000,0.0000,280.0000,2015-10-25 01:45:00,300.0000
71192,1445730600,5min,280.0000,280.0000,280.0000,280.0000,0.0000,0.0000,280.0000,2015-10-25 01:50:00,300.0000
71193,1445730900,5min,280.0000,280.0000,280.0000,280.0000,0.0000,0.0000,280.0000,2015-10-25 01:55:00,300.0000
71194,1445731200,5min,280.0000,280.0000,280.0000,280.0000,0.0000,0.0000,280.0000,2015-10-25 02:00:00,0.0000
71195,1445731200,5min,283.0600,283.0600,283.0600,283.0600,0.0000,0.0000,283.0600,2015-10-25 02:00:00,300.0000
71196,1445731500,5min,280.0000,280.0000,280.0000,280.0000,0.0000,0.0000,280.0000,2015-10-25 02:05:00,0.0000
71197,1445731500,5min,281.6023,281.6023,281.6023,281.6023,5.4744,0.0194,281.6023,2015-10-25 02:05:00,300.0000
71198,1445731800,5min,280.0000,280.0000,280.0000,280.0000,0.0000,0.0000,280.0000,2015-10-25 02:10:00,0.0000
71199,1445731800,5min,281.6023,281.6023,281.6023,281.6023,0.0000,0.0000,281.6023,2015-10-25 02:10:00,300.0000