In [1]:
%run ./../../utils/commonImports.py
%matplotlib inline

# Load Data

In [8]:
db = 'D:\\Dropbox\\My work\\krypl-project\\sqlite\\ploniex-chart-data\\USDT_BTC.db'
data = load_trading_data(db, 'chart_data', from_date='2014-01-01', period='5min')

In [9]:
data.head()

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date
0,1424373000,5min,225.0000,225.0000,225.0000,225.0000,1.0000,0.0044,225.0000,2015-02-19 19:10:00
1,1424373300,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:15:00
2,1424373600,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:20:00
3,1424373900,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:25:00
4,1424374200,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:30:00

# Timestamp diff

In [10]:
diffs = data['timestamp'].shift(-1) - data['timestamp']
data['timestampDiff'] = diffs

In [11]:
diffs.value_counts()

300.0000    381241
Name: timestamp, dtype: int64

In [6]:
zero_diff = data.query('timestampDiff == 1200')
zero_diff

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date,timestampDiff
91050,1451688000,5min,434.9900,434.9900,434.9900,434.9900,0.0435,0.0001,434.9900,2016-01-01 22:40:00,"1,200.0000"

In [7]:
data.loc[91050-10:91050+10, :]

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date,timestampDiff
91040,1451685000,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 21:50:00,300.0000
91041,1451685300,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 21:55:00,300.0000
91042,1451685600,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 22:00:00,300.0000
91043,1451685900,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 22:05:00,300.0000
91044,1451686200,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 22:10:00,300.0000
91045,1451686500,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 22:15:00,300.0000
91046,1451686800,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 22:20:00,300.0000
91047,1451687100,5min,435.0000,435.0000,435.0000,435.0000,0.0000,0.0000,435.0000,2016-01-01 22:25:00,300.0000
91048,1451687400,5min,434.9900,434.9900,434.9900,434.9900,1.0977,0.0025,434.9900,2016-01-01 22:30:00,300.0000
91049,1451687700,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 22:35:00,300.0000
91050,1451688000,5min,434.9900,434.9900,434.9900,434.9900,0.0435,0.0001,434.9900,2016-01-01 22:40:00,"1,200.0000"
91051,1451689200,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:00:00,300.0000
91052,1451689500,5min,434.9900,434.9900,434.9900,434.9900,4.3499,0.0100,434.9900,2016-01-01 23:05:00,300.0000
91053,1451689800,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:10:00,300.0000
91054,1451690100,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:15:00,300.0000
91055,1451690400,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:20:00,300.0000
91056,1451690700,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:25:00,300.0000
91057,1451691000,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:30:00,300.0000
91058,1451691300,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:35:00,300.0000
91059,1451691600,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:40:00,300.0000
91060,1451691900,5min,434.9900,434.9900,434.9900,434.9900,0.0000,0.0000,434.9900,2016-01-01 23:45:00,300.0000