In [1]:
%run ./../../utils/commonImports.py
%run ./../../utils/tradingImports.py
%matplotlib inline

# Load Data

In [2]:
db = 'D:\\Dropbox\\My work\\krypl-project\\sqlite\\ploniex-chart-data\\USDT_BTC.db'
data = load_trading_data(db, 'chart_data', from_date='2014-01-01', period='5min')

In [3]:
data.shape

(381242, 10)

# Experiment

Celý experiment spočívá v olabelovaní dat následujícím způsobem. Pokud daný bod při nákupu vydělá více než 1% tak True.
Snaha bude naučit klasifikátor tak, aby měl co nejlepší precision a zároveň provedl co nejvíce obchodů.

# Calculation

In [4]:
import time

def _max_row(day_df, col):
    i = day_df[col].idxmax()
    max_row = day_df.iloc[i, :]
    return max_row


def _min_row(day_df, col):
    i = day_df[col].idxmin()
    min_row = day_df.iloc[i, :]
    return min_row


def _max(day_df):
    close_max_row = _max_row(day_df, 'close')
    open_max_row = _max_row(day_df, 'open')
    return (close_max_row, 'close') if close_max_row['close'] > open_max_row['open'] else (open_max_row, 'open')


def _fulfilled_row(row, day_df, col, target):
    day_df['R'] = _return(row['close'], day_df[col])
    fulfilled = day_df.query(f"R >= {target}")
    if fulfilled.shape[0] > 0:
        return fulfilled.iloc[0, :]
    else:
        return day_df.iloc[-1, :]


def fulfilled(row, day_df, target):
    close_row = _fulfilled_row(row, day_df, 'close', target)
    open_row = _fulfilled_row(row, day_df, 'open', target)
    return (close_row, 'close') if close_row['close'] > open_row['open'] else (open_row, 'open')


def _return(v1, v2):
    return (v2 / v1) - 1

In [5]:
maxs = []
till_maxs = []
mins = []
df = data.copy()
DAY = 288
TARGET = 0.01

start_time = time.time()
for i in range(df.shape[0] - 2):
    if i % 1000 == 0:
        print(i, '%.3f s' % (time.time() - start_time))
        start_time = time.time()
    day_i = i + DAY if i + DAY < df.shape[0] else df.shape[0]
    row = df.iloc[i, :]
    day_df = reset_index_hard(df.iloc[i+1:day_i, :]).reset_index()
    
    fullfiled_row, fullfiled_col = fulfilled(row, day_df, TARGET)
    
    max_index = fullfiled_row['index'] if fullfiled_row['index'] > 0 else 1
    day_df = day_df.iloc[:max_index, :]
    min_row = _min_row(day_df, 'low')
    
    maxs.append(_return(row['close'], fullfiled_row[fullfiled_col]))
    till_maxs.append(fullfiled_row['index'])
    mins.append(_return(row['close'], min_row['low']))

0 0.000 s
1000 12.991 s
2000 13.936 s
3000 13.929 s
4000 11.527 s
5000 10.583 s
6000 14.829 s
7000 14.442 s
8000 11.011 s
9000 11.280 s
10000 15.309 s
11000 15.422 s
12000 14.172 s
13000 11.372 s
14000 11.100 s
15000 13.151 s
16000 10.989 s
17000 10.812 s
18000 11.332 s
19000 12.336 s
20000 15.335 s
21000 13.024 s
22000 12.906 s
23000 13.511 s
24000 12.716 s
25000 12.737 s
26000 12.935 s
27000 13.032 s
28000 12.615 s
29000 13.061 s
30000 12.682 s
31000 12.787 s
32000 12.715 s
33000 12.920 s
34000 12.699 s
35000 12.764 s
36000 12.707 s
37000 12.685 s
38000 12.791 s
39000 12.680 s
40000 12.590 s
41000 14.273 s
42000 10.938 s
43000 10.329 s
44000 10.351 s
45000 10.342 s
46000 10.308 s
47000 10.416 s
48000 10.342 s
49000 10.381 s
50000 10.389 s
51000 10.408 s
52000 10.348 s
53000 10.299 s
54000 10.354 s
55000 10.759 s
56000 10.349 s
57000 10.310 s
58000 10.294 s
59000 10.284 s
60000 12.015 s
61000 12.565 s
62000 10.980 s
63000 10.833 s
64000 12.214 s
65000 11.585 s
66000 10.398 s
67000 11.429 s
68000 10.392 s
69000 10.599 s
70000 10.472 s
71000 10.199 s
72000 10.228 s
73000 10.289 s
74000 14.708 s
75000 14.621 s
76000 10.886 s
77000 10.255 s
78000 10.742 s
79000 10.263 s
80000 10.768 s
81000 11.859 s
82000 12.194 s
83000 10.507 s
84000 10.928 s
85000 10.937 s
86000 10.628 s
87000 10.282 s
88000 10.442 s
89000 10.772 s
90000 12.219 s
91000 13.141 s
92000 10.928 s
93000 12.662 s
94000 12.000 s
95000 10.165 s
96000 10.183 s
97000 10.085 s
98000 10.137 s
99000 10.080 s
100000 10.091 s
101000 10.080 s
102000 10.203 s
103000 10.202 s
104000 10.105 s
105000 10.047 s
106000 10.157 s
107000 10.048 s
108000 10.109 s
109000 10.154 s
110000 10.724 s
111000 10.101 s
112000 10.064 s
113000 10.088 s
114000 10.134 s
115000 10.198 s
116000 10.096 s
117000 10.039 s
118000 10.507 s
119000 10.695 s
120000 10.232 s
121000 10.490 s
122000 10.020 s
123000 11.550 s
124000 10.292 s
125000 10.092 s
126000 10.052 s
127000 10.189 s
128000 10.075 s
129000 10.044 s
130000 10.155 s
131000 10.081 s
132000 10.037 s
133000 10.063 s
134000 10.031 s
135000 10.022 s
136000 10.104 s
137000 10.061 s
138000 10.098 s
139000 10.515 s
140000 11.772 s
141000 10.122 s
142000 10.088 s
143000 10.181 s
144000 10.064 s
145000 10.030 s
146000 10.091 s
147000 10.026 s
148000 10.084 s
149000 10.030 s
150000 10.065 s
151000 10.012 s
152000 10.006 s
153000 10.180 s
154000 10.105 s
155000 10.174 s
156000 10.089 s
157000 10.068 s
158000 10.979 s
159000 14.044 s
160000 10.975 s
161000 10.421 s
162000 10.172 s
163000 10.087 s
164000 10.156 s
165000 10.127 s
166000 10.160 s
167000 10.086 s
168000 10.315 s
169000 10.135 s
170000 10.061 s
171000 10.399 s
172000 10.147 s
173000 10.370 s
174000 10.090 s
175000 10.014 s
176000 10.073 s
177000 10.137 s
178000 10.190 s
179000 10.078 s
180000 10.111 s
181000 10.086 s
182000 10.105 s
183000 10.114 s
184000 10.121 s
185000 10.256 s
186000 10.018 s
187000 9.996 s
188000 10.074 s
189000 10.041 s
190000 10.454 s
191000 10.129 s
192000 10.049 s
193000 10.093 s
194000 10.291 s
195000 10.133 s
196000 10.122 s
197000 10.560 s
198000 12.003 s
199000 10.529 s
200000 9.984 s
201000 10.050 s
202000 10.011 s
203000 10.080 s
204000 10.073 s
205000 10.028 s
206000 10.040 s
207000 10.054 s
208000 10.028 s
209000 10.130 s
210000 9.986 s
211000 10.009 s
212000 10.056 s
213000 10.062 s
214000 10.027 s
215000 10.292 s
216000 10.132 s
217000 10.082 s
218000 9.992 s
219000 10.065 s
220000 10.011 s
221000 10.213 s
222000 10.027 s
223000 9.965 s
224000 10.009 s
225000 9.925 s
226000 10.091 s
227000 10.437 s
228000 10.122 s
229000 10.079 s
230000 10.027 s
231000 10.096 s
232000 10.066 s
233000 10.058 s
234000 9.991 s
235000 10.039 s
236000 10.041 s
237000 9.985 s
238000 10.067 s
239000 10.071 s
240000 10.051 s
241000 9.989 s
242000 9.973 s
243000 10.014 s
244000 9.988 s
245000 10.040 s
246000 10.057 s
247000 10.096 s
248000 10.031 s
249000 10.010 s
250000 10.059 s
251000 9.911 s
252000 10.003 s
253000 9.979 s
254000 10.007 s
255000 10.014 s
256000 10.040 s
257000 10.276 s
258000 10.034 s
259000 10.116 s
260000 10.178 s
261000 10.033 s
262000 10.025 s
263000 9.913 s
264000 10.042 s
265000 9.972 s
266000 10.097 s
267000 10.006 s
268000 10.094 s
269000 10.047 s
270000 9.944 s
271000 9.990 s
272000 10.399 s
273000 10.271 s
274000 10.011 s
275000 10.004 s
276000 9.966 s
277000 10.047 s
278000 10.051 s
279000 10.069 s
280000 10.055 s
281000 10.108 s
282000 10.092 s
283000 10.127 s
284000 10.052 s
285000 10.093 s
286000 10.094 s
287000 10.391 s
288000 9.982 s
289000 10.045 s
290000 10.023 s
291000 10.079 s
292000 10.126 s
293000 10.057 s
294000 10.056 s
295000 10.004 s
296000 10.114 s
297000 10.120 s
298000 10.114 s
299000 10.009 s
300000 10.023 s
301000 9.974 s
302000 10.028 s
303000 10.034 s
304000 10.042 s
305000 10.041 s
306000 10.024 s
307000 10.035 s
308000 10.080 s
309000 10.206 s
310000 9.985 s
311000 10.093 s
312000 9.937 s
313000 10.015 s
314000 10.102 s
315000 10.109 s
316000 10.083 s
317000 10.352 s
318000 10.043 s
319000 10.026 s
320000 9.979 s
321000 10.059 s
322000 10.025 s
323000 10.125 s
324000 10.045 s
325000 9.990 s
326000 9.931 s
327000 10.016 s
328000 10.005 s
329000 10.050 s
330000 10.049 s
331000 9.992 s
332000 10.055 s
333000 10.078 s
334000 10.107 s
335000 10.018 s
336000 10.103 s
337000 10.024 s
338000 10.018 s
339000 9.991 s
340000 10.062 s
341000 9.969 s
342000 10.051 s
343000 10.024 s
344000 10.015 s
345000 9.987 s
346000 10.047 s
347000 10.634 s
348000 10.001 s
349000 10.141 s
350000 9.995 s
351000 9.981 s
352000 10.182 s
353000 10.291 s
354000 9.981 s
355000 10.024 s
356000 10.028 s
357000 9.919 s
358000 10.017 s
359000 10.020 s
360000 10.008 s
361000 10.009 s
362000 10.127 s
363000 10.001 s
364000 10.024 s
365000 9.935 s
366000 9.988 s
367000 10.064 s
368000 9.969 s
369000 9.959 s
370000 10.015 s
371000 10.065 s
372000 10.045 s
373000 10.047 s
374000 9.973 s
375000 10.088 s
376000 10.007 s
377000 10.190 s
378000 10.063 s
379000 10.268 s
380000 9.962 s
381000 9.926 s

In [6]:
maxs += [-1, -1]
till_maxs += [-1, -1]
mins += [-1, -1]

In [7]:
df['maxReturn'] = maxs
df['tillMax'] = till_maxs
df['minReturn'] = mins

In [8]:
df

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date,maxReturn,tillMax,minReturn
0,1424373000,5min,225.0000,225.0000,225.0000,225.0000,1.0000,0.0044,225.0000,2015-02-19 19:10:00,0.0667,14,0.0000
1,1424373300,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:15:00,0.0667,13,0.0000
2,1424373600,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:20:00,0.0667,12,0.0000
3,1424373900,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:25:00,0.0667,11,0.0000
4,1424374200,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:30:00,0.0667,10,0.0000
5,1424374500,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:35:00,0.0667,9,0.0000
6,1424374800,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:40:00,0.0667,8,0.0000
7,1424375100,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:45:00,0.0667,7,0.0000
8,1424375400,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:50:00,0.0667,6,0.0000
9,1424375700,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 19:55:00,0.0667,5,0.0000
10,1424376000,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:00:00,0.0667,4,0.0000
11,1424376300,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:05:00,0.0667,3,0.0000
12,1424376600,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:10:00,0.0667,2,0.0000
13,1424376900,5min,225.0000,225.0000,225.0000,225.0000,0.0000,0.0000,225.0000,2015-02-19 20:15:00,0.0667,1,0.0000
14,1424377200,5min,225.0000,240.0000,225.0000,240.0000,30.6247,0.1286,238.0921,2015-02-19 20:20:00,0.0167,4,0.0000
15,1424377500,5min,240.0000,240.0000,240.0000,240.0000,0.0000,0.0000,240.0000,2015-02-19 20:25:00,0.0167,3,0.0000
16,1424377800,5min,240.0000,240.0000,240.0000,240.0000,0.0000,0.0000,240.0000,2015-02-19 20:30:00,0.0167,2,0.0000
17,1424378100,5min,240.0000,240.0000,240.0000,240.0000,0.0000,0.0000,240.0000,2015-02-19 20:35:00,0.0167,1,0.0000
18,1424378400,5min,240.0000,240.0000,240.0000,240.0000,0.0000,0.0000,240.0000,2015-02-19 20:40:00,0.0167,0,0.0167
19,1424378700,5min,244.0000,244.0000,244.0000,244.0000,14.6512,0.0600,244.0000,2015-02-19 20:45:00,-0.0154,286,-0.0154
20,1424379000,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 20:50:00,-0.0154,286,-0.0154
21,1424379300,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 20:55:00,-0.0154,286,-0.0154
22,1424379600,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:00:00,-0.0154,286,-0.0154
23,1424379900,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:05:00,-0.0154,286,-0.0154
24,1424380200,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:10:00,-0.0154,286,-0.0154
25,1424380500,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:15:00,-0.0154,286,-0.0154
26,1424380800,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:20:00,-0.0154,286,-0.0154
27,1424381100,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:25:00,-0.0154,286,-0.0154
28,1424381400,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:30:00,-0.0154,286,-0.0154
29,1424381700,5min,244.0000,244.0000,244.0000,244.0000,0.0000,0.0000,244.0000,2015-02-19 21:35:00,-0.0154,286,-0.0154
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381212,1538736600,5min,"6,582.0619","6,582.1619","6,580.3584","6,580.3584","2,579.0689",0.3918,"6,581.8600",2018-10-05 10:50:00,0.0024,28,-0.0004
381213,1538736900,5min,"6,580.1785","6,583.9200","6,577.8022","6,578.6856","11,084.8003",1.6849,"6,579.0437",2018-10-05 10:55:00,0.0026,27,0.0000
381214,1538737200,5min,"6,578.6900","6,583.6119","6,578.6900","6,583.6119",224.9801,0.0342,"6,579.5835",2018-10-05 11:00:00,0.0019,26,0.0001
381215,1538737500,5min,"6,584.0000","6,585.0000","6,584.0000","6,585.0000","2,190.4246",0.3327,"6,584.0091",2018-10-05 11:05:00,0.0017,25,-0.0000
381216,1538737800,5min,"6,590.0076","6,590.1731","6,590.0076","6,590.1731","1,643.7766",0.2494,"6,590.1218",2018-10-05 11:10:00,0.0009,24,-0.0008
381217,1538738100,5min,"6,590.1731","6,599.1718","6,590.1731","6,599.0018","5,912.2905",0.8966,"6,594.4444",2018-10-05 11:15:00,-0.0005,23,-0.0021
381218,1538738400,5min,"6,595.4416","6,595.4416","6,591.3612","6,592.2682","1,448.1851",0.2196,"6,593.2500",2018-10-05 11:20:00,0.0006,22,-0.0011
381219,1538738700,5min,"6,599.1818","6,600.0000","6,595.9343","6,595.9343","11,759.1626",1.7820,"6,598.8386",2018-10-05 11:25:00,0.0000,21,-0.0017
381220,1538739000,5min,"6,600.0000","6,601.2900","6,595.9509","6,598.7382","5,937.5505",0.8998,"6,598.9349",2018-10-05 11:30:00,-0.0004,20,-0.0021
381221,1538739300,5min,"6,598.5066","6,598.5066","6,598.5066","6,598.5066",78.7320,0.0119,"6,598.5066",2018-10-05 11:35:00,-0.0004,19,-0.0020
381222,1538739600,5min,"6,597.0000","6,597.4669","6,590.2678","6,591.1489","10,777.7909",1.6351,"6,591.4478",2018-10-05 11:40:00,0.0007,18,-0.0009
381223,1538739900,5min,"6,591.1489","6,598.5762","6,591.1489","6,598.5762",680.4769,0.1031,"6,598.2790",2018-10-05 11:45:00,-0.0004,17,-0.0021
381224,1538740200,5min,"6,598.5762","6,598.5762","6,598.5762","6,598.5762",0.0000,0.0000,"6,598.5762",2018-10-05 11:50:00,-0.0004,16,-0.0021
381225,1538740500,5min,"6,590.2679","6,590.2679","6,590.2679","6,590.2679",5.5215,0.0008,"6,590.2679",2018-10-05 11:55:00,0.0009,15,-0.0008
381226,1538740800,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815","4,876.3559",0.7394,"6,594.9815",2018-10-05 12:00:00,0.0001,14,-0.0015
381227,1538741100,5min,"6,594.7996","6,594.8327","6,594.6011","6,594.8327",116.5122,0.0177,"6,594.7212",2018-10-05 12:05:00,0.0002,13,-0.0015
381228,1538741400,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815","1,049.9999",0.1592,"6,594.9815",2018-10-05 12:10:00,0.0001,12,-0.0015
381229,1538741700,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815",655.0062,0.0993,"6,594.9815",2018-10-05 12:15:00,0.0001,11,-0.0015
381230,1538742000,5min,"6,594.9815","6,594.9815","6,594.9815","6,594.9815",0.0000,0.0000,"6,594.9815",2018-10-05 12:20:00,0.0001,10,-0.0015
381231,1538742300,5min,"6,595.1641","6,595.1641","6,590.6430","6,590.6430","9,342.5684",1.4168,"6,594.3348",2018-10-05 12:25:00,0.0008,9,-0.0009
381232,1538742600,5min,"6,590.6430","6,593.7219","6,586.6563","6,586.8563","13,159.6535",1.9974,"6,588.4660",2018-10-05 12:30:00,0.0014,8,-0.0003
381233,1538742900,5min,"6,586.8563","6,594.6043","6,585.1546","6,585.2546","4,019.0494",0.6103,"6,585.2142",2018-10-05 12:35:00,0.0016,7,-0.0000
381234,1538743200,5min,"6,585.2546","6,585.2546","6,585.2380","6,585.2380","2,354.2846",0.3575,"6,585.2546",2018-10-05 12:40:00,0.0016,6,-0.0000
381235,1538743500,5min,"6,584.9835","6,591.4151","6,584.9835","6,585.4000","13,609.4236",2.0662,"6,586.6370",2018-10-05 12:45:00,0.0016,5,0.0000
381236,1538743800,5min,"6,585.4000","6,585.4000","6,585.4000","6,585.4000",0.0000,0.0000,"6,585.4000",2018-10-05 12:50:00,0.0016,4,0.0006
381237,1538744100,5min,"6,589.1520","6,594.8563","6,589.1520","6,594.8563",624.8332,0.0948,"6,591.3772",2018-10-05 12:55:00,0.0002,3,-0.0007
381238,1538744400,5min,"6,589.9249","6,594.9835","6,589.9249","6,594.9835","7,250.7049",1.1001,"6,590.6590",2018-10-05 13:00:00,0.0001,2,-0.0007
381239,1538744700,5min,"6,590.1520","6,594.9173","6,590.1520","6,594.9173",603.4239,0.0915,"6,592.2003",2018-10-05 13:05:00,0.0002,1,-0.0001
381240,1538745000,5min,"6,594.0000","6,595.0000","6,594.0000","6,595.0000","1,476.3254",0.2239,"6,594.0279",2018-10-05 13:10:00,-1.0000,-1,-1.0000
381241,1538745300,5min,"6,595.1000","6,595.9343","6,595.1000","6,595.9343",386.2321,0.0586,"6,595.3626",2018-10-05 13:15:00,-1.0000,-1,-1.0000

In [9]:
write_tsv(df, 'D:\\Dropbox\\My work\\krypl-project\\analysis\\return-01-within-day.tsv')