In [ ]:
%run ./../../utils/commonImports.py
%run ./../../utils/tradingImports.py
%matplotlib inline

# Load Data

In [2]:
df_all = read_tsv('D:\\Dropbox\\My work\\krypl-project\\analysis\\return-01-within-day.tsv')
df = df_all[['date', 'maxReturn', 'tillMax', 'minReturn']].head(df_all.shape[0] - 2)

In [7]:
df.query('maxReturn >= 0.01').shape[0] / df.shape[0]

0.6835771184323739

# Basic Stats

In [4]:
query = '(maxReturn > 0.01)'
df_true = df.query(query)
df_false = df.query(f'not {query}')

In [5]:
df_true.describe()

         maxReturn      tillMax    minReturn
count 246,286.0000 246,286.0000 246,286.0000
mean        0.0156      73.3521      -0.0097
std         0.0152      74.0327       0.0159
min         0.0100       0.0000      -0.5803
25%         0.0110      14.0000      -0.0127
50%         0.0124      45.0000      -0.0049
75%         0.0159     113.0000      -0.0005
max         1.4607     286.0000       1.4607

In [6]:
df_false.describe()

         maxReturn      tillMax    minReturn
count 114,004.0000 114,004.0000 114,004.0000
mean       -0.0219     285.7382      -0.0403
std         0.0317       7.5887       0.0503
min        -0.3259       0.0000      -0.6320
25%        -0.0306     286.0000      -0.0508
50%        -0.0112     286.0000      -0.0253
75%        -0.0012     286.0000      -0.0112
max         0.0100     286.0000       0.0044