In [1]:
%run ./utils/commonImports.py
%run ./utils/tradingImports.py
%matplotlib inline

# Load Data

In [2]:
def load_and_divide(db, table, from_date=None, to_date=None, train_ratio=0.5, period=None):
    data = load_trading_data(db, table, from_date, to_date, period)
    data_train, data_test = divide_train_and_test(data, train_ratio)
    return data, data_train, data_test


db = 'D:\\Dropbox\\My work\\krypl-project\\sqlite\\ploniex-chart-data\\USDT_BTC.db'
data, data_train, data_test = load_and_divide(db, 'chart_data', from_date='2017-01-01', period='5min')
ohlc, ohlc_train, ohlc_test = data.copy(), data_train.copy(), data_test.copy()

# Calculation

In [48]:
import time

maxs = []
till_maxs = []
mins = []
df = ohlc.copy()
DAY = 1440
TARGET = 0.01

def _max_row(day_df, col):
    i = day_df[col].idxmax()
    max_row = day_df.iloc[i, :]
    return max_row

def _min_row(day_df, col):
    i = day_df[col].idxmin()
    min_row = day_df.iloc[i, :]
    return min_row

def _max(day_df):
    close_max_row = _max_row(day_df, 'close')
    open_max_row = _max_row(day_df, 'open')
    return (close_max_row, 'close') if close_max_row['close'] > open_max_row['open'] else (open_max_row, 'open')

def _fullfiled_row(row, day_df, col, target):
    day_df['R'] = _return(row['close'], day_df[col])
    fullfiled = day_df.query(f"R >= {target}")
    if fullfiled.shape[0] > 0:
        return fullfiled.iloc[0, :]
    else:
        return day_df.iloc[-1, :]

def fullfiled(row, day_df, target):
    close_row = _fullfiled_row(row, day_df, 'close', target)
    open_row = _fullfiled_row(row, day_df, 'open', target)
    return (close_row, 'close') if close_row['close'] > open_row['open'] else (open_row, 'open')

def _return(v1, v2):
    return (v2 / v1) - 1


start_time = time.time()
for i in range(df.shape[0] - 1):
    if i % 1000 == 0:
        print(i, '%.3f s' % (time.time() - start_time))
        start_time = time.time()
    
    day_i = i + DAY if i + DAY < df.shape[0] else df.shape[0]-1
    row = df.iloc[i, :]
    day_df = df.iloc[i+1:day_i, :].reset_index().drop('index', axis=1).reset_index()

    
    fullfiled_row, fullfiled_col = fullfiled(row, day_df, TARGET)
    
    max_index = fullfiled_row['index'] if fullfiled_row['index'] > 0 else 1
    day_df = day_df.iloc[:max_index, :]
    min_row = _min_row(day_df, 'low')
    
    maxs.append(_return(row['close'], fullfiled_row[fullfiled_col]))
    till_maxs.append(fullfiled_row['index'])
    mins.append(_return(row['close'], min_row['low']))

0 0.000 s
1000 11.076 s
2000 10.689 s
3000 10.700 s
4000 10.787 s
5000 11.336 s
6000 10.898 s
7000 10.657 s
8000 10.768 s
9000 10.902 s
10000 10.896 s
11000 10.866 s
12000 10.699 s
13000 10.900 s
14000 10.863 s
15000 10.936 s
16000 10.846 s
17000 10.936 s
18000 10.968 s
19000 10.677 s
20000 10.794 s
21000 10.750 s
22000 10.574 s
23000 10.893 s
24000 10.934 s
25000 11.224 s
26000 10.963 s
27000 10.977 s
28000 10.957 s
29000 10.774 s
30000 10.716 s
31000 10.873 s
32000 10.868 s
33000 10.914 s
34000 10.831 s
35000 11.018 s
36000 10.787 s
37000 10.899 s
38000 10.726 s
39000 10.832 s
40000 10.921 s
41000 10.943 s
42000 10.681 s
43000 10.988 s
44000 10.930 s
45000 11.562 s
46000 10.802 s
47000 10.662 s
48000 10.796 s
49000 10.949 s
50000 10.702 s
51000 10.688 s
52000 10.707 s
53000 10.949 s
54000 10.623 s
55000 10.597 s
56000 10.590 s
57000 10.887 s
58000 10.861 s
59000 12.331 s
60000 11.019 s
61000 10.884 s
62000 10.855 s
63000 10.927 s
64000 10.867 s
65000 10.947 s
66000 10.645 s
67000 10.719 s
68000 11.006 s
69000 10.861 s
70000 10.876 s
71000 10.648 s
72000 10.724 s
73000 10.848 s
74000 10.641 s
75000 10.891 s
76000 10.586 s
77000 11.125 s
78000 11.246 s
79000 10.869 s
80000 10.782 s
81000 10.940 s
82000 10.954 s
83000 10.752 s
84000 10.812 s
85000 10.578 s
86000 10.752 s
87000 10.849 s
88000 10.959 s
89000 10.727 s
90000 10.567 s
91000 10.742 s
92000 10.901 s
93000 10.893 s
94000 10.774 s
95000 10.934 s
96000 10.866 s
97000 10.938 s
98000 10.919 s
99000 10.815 s
100000 10.831 s
101000 11.269 s
102000 10.550 s
103000 10.745 s
104000 10.748 s
105000 10.777 s
106000 11.009 s
107000 10.688 s
108000 10.558 s
109000 10.780 s
110000 10.869 s
111000 10.722 s
112000 11.000 s
113000 11.460 s
114000 15.144 s
115000 22.196 s
116000 14.817 s
117000 11.166 s
118000 11.285 s
119000 11.175 s
120000 12.348 s
121000 11.024 s
122000 11.126 s
123000 11.038 s
124000 10.645 s
125000 10.884 s
126000 10.915 s
127000 10.842 s
128000 10.919 s
129000 10.603 s
130000 10.605 s
131000 10.755 s
132000 10.731 s
133000 10.772 s
134000 10.822 s
135000 10.938 s
136000 10.852 s
137000 11.066 s
138000 13.672 s
139000 10.849 s
140000 10.851 s
141000 10.744 s
142000 10.587 s
143000 10.681 s
144000 10.622 s
145000 10.775 s
146000 10.793 s
147000 10.548 s
148000 10.848 s
149000 10.851 s
150000 10.916 s
151000 10.652 s
152000 10.543 s
153000 10.726 s
154000 11.844 s
155000 10.551 s
156000 10.744 s
157000 11.385 s
158000 12.300 s
159000 10.973 s
160000 10.575 s

IndexError: single positional indexer is out-of-bounds

In [49]:
maxs += [-1, -1]
till_maxs += [-1, -1]
mins += [-1, -1]

In [50]:
df = ohlc.copy()
df['maxReturn'] = maxs
df['tillMax'] = till_maxs
df['minReturn'] = mins

In [51]:
df

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date,maxReturn,tillMax,minReturn
228868,1483225200,5min,964.0000,964.0000,964.0000,964.0000,3.7374,0.0039,964.0000,2017-01-01 00:00:00,0.0109,142,-0.0072
228869,1483225500,5min,962.8600,962.8600,962.8600,962.8600,74.4955,0.0774,962.8600,2017-01-01 00:05:00,0.0121,141,-0.0061
228870,1483225800,5min,964.0000,964.0000,962.8600,962.8600,273.3070,0.2837,963.2768,2017-01-01 00:10:00,0.0121,140,-0.0061
228871,1483226100,5min,964.0000,964.0000,964.0000,964.0000,69.1332,0.0717,964.0000,2017-01-01 00:15:00,0.0109,139,-0.0072
228872,1483226400,5min,964.0000,965.0000,962.8600,965.0000,"3,050.4950",3.1637,964.2074,2017-01-01 00:20:00,0.0106,139,-0.0083
228873,1483226700,5min,963.8600,965.0000,962.8600,965.0000,215.8639,0.2242,962.9156,2017-01-01 00:25:00,0.0106,138,-0.0083
228875,1483227000,5min,965.0000,965.0000,965.0000,965.0000,0.0000,0.0000,965.0000,2017-01-01 00:30:00,0.0106,137,-0.0083
228876,1483227300,5min,964.0000,965.0000,963.0000,963.0463,36.1246,0.0375,963.9131,2017-01-01 00:35:00,0.0119,135,-0.0063
228877,1483227600,5min,964.0633,965.0050,964.0633,965.0050,549.9110,0.5699,964.8749,2017-01-01 00:40:00,0.0106,135,-0.0083
228878,1483227900,5min,965.0050,965.0050,965.0050,965.0050,0.0000,0.0000,965.0050,2017-01-01 00:45:00,0.0106,134,-0.0083
228879,1483228200,5min,966.5000,966.6150,965.1737,965.1737,"2,489.9812",2.5795,965.3076,2017-01-01 00:50:00,0.0105,133,-0.0084
228880,1483228500,5min,965.7406,966.1737,965.7406,966.1737,102.8549,0.1065,965.8516,2017-01-01 00:55:00,0.0102,143,-0.0095
228882,1483228800,5min,965.0000,965.0000,964.0000,964.0000,"5,398.8371",5.5967,964.6426,2017-01-01 01:00:00,0.0109,130,-0.0072
228883,1483229100,5min,966.1500,966.1500,964.0000,964.0000,84.3021,0.0873,965.8580,2017-01-01 01:05:00,0.0109,129,-0.0072
228884,1483229400,5min,964.0500,966.1500,962.0282,964.0000,"2,638.6762",2.7374,963.9466,2017-01-01 01:10:00,0.0109,128,-0.0072
228885,1483229700,5min,962.0282,964.0000,961.7000,962.2000,"3,415.2723",3.5501,962.0250,2017-01-01 01:15:00,0.0102,125,-0.0054
228886,1483230000,5min,964.0000,964.6774,962.7693,962.8500,80.2877,0.0833,963.5686,2017-01-01 01:20:00,0.0121,126,-0.0061
228887,1483230300,5min,962.8600,966.1500,962.8600,966.1500,283.3019,0.2935,965.3570,2017-01-01 01:25:00,0.0102,137,-0.0094
228889,1483230600,5min,962.8800,962.8800,962.8800,962.8800,"1,397.2938",1.4512,962.8800,2017-01-01 01:30:00,0.0121,124,-0.0061
228890,1483230900,5min,963.4926,964.5191,963.4926,964.5191,60.3547,0.0626,963.9481,2017-01-01 01:35:00,0.0111,123,-0.0078
228891,1483231200,5min,963.5455,963.5455,963.5455,963.5455,155.1018,0.1610,963.5455,2017-01-01 01:40:00,0.0114,122,-0.0068
228892,1483231500,5min,963.0662,965.6681,963.0662,965.6681,9.6346,0.0100,964.3412,2017-01-01 01:45:00,0.0107,133,-0.0090
228893,1483231800,5min,965.6681,965.6681,963.5795,963.5795,55.7285,0.0577,965.3890,2017-01-01 01:50:00,0.0113,120,-0.0068
228894,1483232100,5min,964.1333,964.1333,964.1333,964.1333,"1,060.5466",1.1000,964.1333,2017-01-01 01:55:00,0.0108,119,-0.0074
228896,1483232400,5min,964.1333,964.1333,964.1333,964.1333,28.7431,0.0298,964.1333,2017-01-01 02:00:00,0.0108,118,-0.0074
228897,1483232700,5min,965.8550,965.8550,965.8550,965.8550,47.6096,0.0493,965.8550,2017-01-01 02:05:00,0.0105,129,-0.0091
228898,1483233000,5min,964.1333,964.1333,964.1333,964.1333,1.3961,0.0014,964.1333,2017-01-01 02:10:00,0.0108,116,-0.0074
228899,1483233300,5min,964.1333,964.1333,964.1333,964.1333,10.3567,0.0107,964.1333,2017-01-01 02:15:00,0.0108,115,-0.0074
228900,1483233600,5min,964.1340,965.8550,964.1340,964.1350,943.9894,0.9774,965.8452,2017-01-01 02:20:00,0.0108,114,-0.0074
228901,1483233900,5min,965.8550,965.8550,965.8550,965.8550,0.4325,0.0004,965.8550,2017-01-01 02:25:00,0.0105,125,-0.0091
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414745,1531502700,5min,"6,264.8498","6,266.5940","6,259.0000","6,259.0000","3,516.5823",0.5618,"6,259.2647",2018-07-13 19:25:00,0.0105,10,0.0000
414746,1531503000,5min,"6,259.0000","6,266.1138","6,259.0000","6,266.1138","7,534.4183",1.2034,"6,260.7298",2018-07-13 19:30:00,-0.0137,26,-0.0153
414747,1531503300,5min,"6,261.9417","6,266.1138","6,261.9417","6,266.1138","1,810.9692",0.2891,"6,264.6706",2018-07-13 19:35:00,-0.0137,25,-0.0153
414748,1531503600,5min,"6,266.1138","6,271.4500","6,264.3363","6,270.6958","15,339.9177",2.4479,"6,266.4924",2018-07-13 19:40:00,-0.0144,24,-0.0160
414749,1531503900,5min,"6,264.9434","6,271.4515","6,264.9434","6,271.4515",61.0861,0.0097,"6,269.3543",2018-07-13 19:45:00,-0.0145,23,-0.0161
414750,1531504200,5min,"6,271.4355","6,271.4355","6,269.0000","6,269.0000","3,240.0271",0.5168,"6,269.1196",2018-07-13 19:50:00,-0.0141,22,-0.0158
414751,1531504500,5min,"6,271.4515","6,271.4515","6,269.0000","6,269.0000",641.4454,0.1023,"6,271.4208",2018-07-13 19:55:00,-0.0141,21,-0.0158
414752,1531504800,5min,"6,271.4500","6,271.4515","6,271.4500","6,271.4515",877.6905,0.1400,"6,271.4515",2018-07-13 20:00:00,-0.0145,20,-0.0161
414753,1531505100,5min,"6,271.4515","6,279.9201","6,271.4515","6,277.0000","6,180.0561",0.9848,"6,275.7111",2018-07-13 20:05:00,-0.0154,19,-0.0170
414754,1531505400,5min,"6,277.0000","6,277.0000","6,277.0000","6,277.0000",589.1511,0.0939,"6,277.0000",2018-07-13 20:10:00,-0.0154,18,-0.0170
414755,1531505700,5min,"6,277.2200","6,280.0000","6,277.0000","6,277.0000",370.3175,0.0590,"6,279.1874",2018-07-13 20:15:00,-0.0154,17,-0.0170
414756,1531506000,5min,"6,277.0000","6,349.0000","6,277.0000","6,324.6329","248,357.0910",39.3310,"6,314.5419",2018-07-13 20:20:00,-0.0228,16,-0.0244
414757,1531506300,5min,"6,323.2340","6,323.2340","6,301.0000","6,309.9000","89,589.8248",14.1966,"6,310.6495",2018-07-13 20:25:00,-0.0205,15,-0.0221
414758,1531506600,5min,"6,309.9000","6,309.9000","6,280.4412","6,280.4412","14,701.8594",2.3363,"6,292.7575",2018-07-13 20:30:00,-0.0159,14,-0.0176
414759,1531506900,5min,"6,285.0251","6,285.0251","6,261.4196","6,266.7687","65,795.1387",10.4870,"6,273.9659",2018-07-13 20:35:00,-0.0138,13,-0.0154
414760,1531507200,5min,"6,261.4196","6,263.8200","6,250.0000","6,260.0000","37,983.3640",6.0705,"6,257.0375",2018-07-13 20:40:00,-0.0127,12,-0.0143
414761,1531507500,5min,"6,259.3000","6,260.0000","6,231.2589","6,245.0193","160,253.4500",25.6379,"6,250.6564",2018-07-13 20:45:00,-0.0103,11,-0.0120
414762,1531507800,5min,"6,249.9180","6,253.4586","6,229.2427","6,240.0000","77,081.6755",12.3477,"6,242.5771",2018-07-13 20:50:00,-0.0095,10,-0.0112
414763,1531508100,5min,"6,240.0000","6,253.1748","6,231.8879","6,250.0820","26,626.0692",4.2683,"6,238.1105",2018-07-13 20:55:00,-0.0111,9,-0.0128
414764,1531508400,5min,"6,248.2769","6,248.2769","6,234.7086","6,234.7086",963.1742,0.1544,"6,239.1394",2018-07-13 21:00:00,-0.0087,8,-0.0104
414765,1531508700,5min,"6,237.8000","6,237.8000","6,214.7908","6,216.0160","23,197.8030",3.7298,"6,219.5401",2018-07-13 21:05:00,-0.0057,7,-0.0074
414766,1531509000,5min,"6,217.0160","6,217.0160","6,183.7800","6,203.0000","100,510.3249",16.2167,"6,197.9414",2018-07-13 21:10:00,-0.0036,6,-0.0053
414767,1531509300,5min,"6,195.1720","6,198.4617","6,189.4830","6,192.4530","29,865.7611",4.8242,"6,190.8156",2018-07-13 21:15:00,-0.0019,5,-0.0036
414768,1531509600,5min,"6,190.4530","6,200.2185","6,190.0000","6,198.0000","7,476.2890",1.2063,"6,197.8435",2018-07-13 21:20:00,-0.0028,4,-0.0045
414769,1531509900,5min,"6,198.0000","6,207.9344","6,190.0000","6,190.0000","71,187.9758",11.4865,"6,197.5519",2018-07-13 21:25:00,-0.0015,3,-0.0032
414770,1531510200,5min,"6,195.3140","6,196.0000","6,190.0000","6,190.0160","21,664.6435",3.4990,"6,191.7101",2018-07-13 21:30:00,-0.0015,2,-0.0032
414771,1531510500,5min,"6,195.0000","6,195.0000","6,172.4920","6,190.0000","311,571.5413",50.4447,"6,176.4986",2018-07-13 21:35:00,-0.0015,1,-0.0032
414772,1531510800,5min,"6,190.0000","6,190.0000","6,170.1750","6,175.5783","133,142.8466",21.5531,"6,177.4452",2018-07-13 21:40:00,0.0008,0,-0.0001
414773,1531511100,5min,"6,175.5783","6,181.0949","6,174.9190","6,180.4388","43,508.4977",7.0451,"6,175.6718",2018-07-13 21:45:00,-1.0000,-1,-1.0000
414774,1531511400,5min,"6,181.0949","6,191.0160","6,180.0000","6,180.0000","9,852.8239",1.5932,"6,184.2466",2018-07-13 21:50:00,-1.0000,-1,-1.0000

In [52]:
write_tsv(df, 'D:\\Dropbox\\My work\\krypl-project\\analysis\\return-01-within-day.tsv')

# Analysis

In [58]:
df = read_tsv('D:\\Dropbox\\My work\\krypl-project\\analysis\\return-01-within-day.tsv')
df = df[['date', 'maxReturn', 'tillMax', 'minReturn']].head(df.shape[0] - 2)

In [59]:
df.shape

(160953, 4)

In [60]:
df.shape

(160953, 4)

In [61]:
df.query('maxReturn >= 0.01')

                       date  maxReturn  tillMax  minReturn
0       2017-01-01 00:00:00     0.0109      142    -0.0072
1       2017-01-01 00:05:00     0.0121      141    -0.0061
2       2017-01-01 00:10:00     0.0121      140    -0.0061
3       2017-01-01 00:15:00     0.0109      139    -0.0072
4       2017-01-01 00:20:00     0.0106      139    -0.0083
5       2017-01-01 00:25:00     0.0106      138    -0.0083
6       2017-01-01 00:30:00     0.0106      137    -0.0083
7       2017-01-01 00:35:00     0.0119      135    -0.0063
8       2017-01-01 00:40:00     0.0106      135    -0.0083
9       2017-01-01 00:45:00     0.0106      134    -0.0083
10      2017-01-01 00:50:00     0.0105      133    -0.0084
11      2017-01-01 00:55:00     0.0102      143    -0.0095
12      2017-01-01 01:00:00     0.0109      130    -0.0072
13      2017-01-01 01:05:00     0.0109      129    -0.0072
14      2017-01-01 01:10:00     0.0109      128    -0.0072
15      2017-01-01 01:15:00     0.0102      125    -0.0054
16      2017-01-01 01:20:00     0.0121      126    -0.0061
17      2017-01-01 01:25:00     0.0102      137    -0.0094
18      2017-01-01 01:30:00     0.0121      124    -0.0061
19      2017-01-01 01:35:00     0.0111      123    -0.0078
20      2017-01-01 01:40:00     0.0114      122    -0.0068
21      2017-01-01 01:45:00     0.0107      133    -0.0090
22      2017-01-01 01:50:00     0.0113      120    -0.0068
23      2017-01-01 01:55:00     0.0108      119    -0.0074
24      2017-01-01 02:00:00     0.0108      118    -0.0074
25      2017-01-01 02:05:00     0.0105      129    -0.0091
26      2017-01-01 02:10:00     0.0108      116    -0.0074
27      2017-01-01 02:15:00     0.0108      115    -0.0074
28      2017-01-01 02:20:00     0.0108      114    -0.0074
29      2017-01-01 02:25:00     0.0105      125    -0.0091
...                     ...        ...      ...        ...
160891  2018-07-13 16:35:00     0.0110       44    -0.0018
160892  2018-07-13 16:40:00     0.0118       43    -0.0010
160893  2018-07-13 16:45:00     0.0119       42    -0.0010
160894  2018-07-13 16:50:00     0.0121       41    -0.0008
160895  2018-07-13 16:55:00     0.0119       40    -0.0004
160896  2018-07-13 17:00:00     0.0119       39    -0.0004
160897  2018-07-13 17:05:00     0.0112       38    -0.0011
160898  2018-07-13 17:10:00     0.0123       37     0.0000
160899  2018-07-13 17:15:00     0.0111       36    -0.0011
160900  2018-07-13 17:20:00     0.0111       35    -0.0011
160901  2018-07-13 17:25:00     0.0122       34    -0.0000
160902  2018-07-13 17:30:00     0.0111       33    -0.0008
160903  2018-07-13 17:35:00     0.0112       32    -0.0006
160904  2018-07-13 17:40:00     0.0118       31     0.0000
160905  2018-07-13 17:45:00     0.0118       30     0.0001
160906  2018-07-13 17:50:00     0.0115       29    -0.0002
160907  2018-07-13 17:55:00     0.0102       28    -0.0015
160909  2018-07-13 18:05:00     0.0104       26    -0.0013
160910  2018-07-13 18:10:00     0.0114       25    -0.0003
160911  2018-07-13 18:15:00     0.0114       24    -0.0003
160912  2018-07-13 18:20:00     0.0109       23    -0.0008
160913  2018-07-13 18:25:00     0.0117       22     0.0000
160914  2018-07-13 18:30:00     0.0104       21    -0.0013
160915  2018-07-13 18:35:00     0.0104       20    -0.0013
160916  2018-07-13 18:40:00     0.0104       19    -0.0013
160919  2018-07-13 18:55:00     0.0111       16    -0.0000
160920  2018-07-13 19:00:00     0.0103       15    -0.0009
160921  2018-07-13 19:05:00     0.0107       14     0.0002
160922  2018-07-13 19:10:00     0.0104       13    -0.0001
160925  2018-07-13 19:25:00     0.0105       10     0.0000

[145261 rows x 4 columns]

In [ ]:
df

In [62]:
df.query('maxReturn >= 0.01').shape[0] / df.shape[0]

0.9025057004218623

In [63]:
query = '(maxReturn > 0.01)'
df_true = df.query(query)
df_false = df.query(f'not {query}')

In [64]:
df_true.describe()

         maxReturn      tillMax    minReturn
count 145,261.0000 145,261.0000 145,261.0000
mean        0.0132     149.6656      -0.0194
std         0.0043     244.0073       0.0303
min         0.0100       0.0000      -0.3172
25%         0.0108      15.0000      -0.0220
50%         0.0119      49.0000      -0.0089
75%         0.0139     158.0000      -0.0031
max         0.0930   1,438.0000       0.0067

In [65]:
df_false.describe()

        maxReturn     tillMax   minReturn
count 15,692.0000 15,692.0000 15,692.0000
mean      -0.0958  1,404.5342     -0.1663
std        0.0677    154.5982      0.0838
min       -0.4036      0.0000     -0.4272
25%       -0.1277  1,438.0000     -0.2125
50%       -0.0858  1,438.0000     -0.1479
75%       -0.0468  1,438.0000     -0.1082
max        0.0096  1,438.0000     -0.0001