In [1]:
%run ./utils/commonImports.py
%run ./utils/tradingImports.py
%matplotlib inline

# Load Data

In [2]:
def load_and_divide(db, table, from_date=None, to_date=None, train_ratio=0.5, period=None):
    data = load_trading_data(db, table, from_date, to_date, period)
    data_train, data_test = divide_train_and_test(data, train_ratio)
    return data, data_train, data_test


db = 'D:\\Dropbox\\My work\\krypl-project\\sqlite\\ploniex-chart-data\\USDT_BTC.db'
data, data_train, data_test = load_and_divide(db, 'chart_data', from_date='2017-01-01', period='5min')
ohlc, ohlc_train, ohlc_test = data.copy(), data_train.copy(), data_test.copy()


# features = ['red', 'yellow', 'green', 'blue']
# data_manager_train = CurrencyDataManager(data_train['close'], data_train[features])
# data_manager_test = CurrencyDataManager(data_test['close'], data_test[features])
# wallet = {'usdt': 1000}
# contract_pair = ContractPair.new('usdt', 'btc')

# Price Movement Within a Day

In [56]:
import time

maxs = []
till_maxs = []
mins = []
df = ohlc.copy()
DAY = 1440

def _max_row(day_df, col):
    i = day_df[col].idxmax()
    max_row = day_df.iloc[i, :]
    return max_row

def _min_row(day_df, col):
    i = day_df[col].idxmin()
    min_row = day_df.iloc[i, :]
    return min_row

def _max(day_df):
    close_max_row = _max_row(day_df, 'close')
    open_max_row = _max_row(day_df, 'open')
    return (close_max_row, 'close') if close_max_row['close'] > open_max_row['open'] else (open_max_row, 'open')

def _return(v1, v2):
    return (v2 / v1) - 1


start_time = time.time()
for i in range(df.shape[0] - 1):
    if i % 1000 == 0:
        print(i, '%.3f s' % (time.time() - start_time))
        start_time = time.time()
    
    day_i = i + DAY if i + DAY < df.shape[0] else df.shape[0]-1
    row = df.iloc[i, :]
    day_df = df.iloc[i+1:day_i, :].reset_index().drop('index', axis=1).reset_index()
    max_row, max_col = _max(day_df)
    
    max_index = max_row['index'] if max_row['index'] > 0 else 1
    day_df = day_df.iloc[:max_index, :]
    min_row = _min_row(day_df, 'low')
    
    maxs.append(_return(row['close'], max_row[max_col]))
    till_maxs.append(max_row['index'])
    mins.append(_return(row['close'], min_row['low']))

0 0.000 s
1000 4.900 s
2000 5.375 s
3000 4.804 s
4000 5.612 s
5000 4.998 s
6000 5.009 s
7000 4.621 s
8000 4.699 s
9000 4.645 s
10000 4.666 s
11000 4.909 s
12000 4.673 s
13000 4.649 s
14000 4.661 s
15000 4.608 s
16000 5.065 s
17000 4.644 s
18000 4.645 s
19000 4.708 s
20000 5.807 s
21000 5.637 s
22000 4.854 s
23000 5.050 s
24000 4.938 s
25000 4.782 s
26000 4.787 s
27000 4.766 s
28000 4.762 s
29000 4.862 s
30000 4.757 s
31000 4.857 s
32000 4.764 s
33000 4.752 s
34000 4.749 s
35000 4.831 s
36000 4.760 s
37000 4.860 s
38000 4.794 s
39000 4.803 s
40000 4.798 s
41000 4.867 s
42000 4.775 s
43000 4.831 s
44000 4.847 s
45000 4.781 s
46000 4.821 s
47000 4.797 s
48000 4.785 s
49000 4.831 s
50000 4.771 s
51000 4.815 s
52000 4.817 s
53000 4.757 s
54000 4.873 s
55000 4.781 s
56000 4.814 s
57000 4.790 s
58000 4.784 s
59000 4.753 s
60000 4.815 s
61000 4.789 s
62000 4.885 s
63000 4.781 s
64000 4.847 s
65000 4.751 s
66000 4.739 s
67000 4.752 s
68000 4.851 s
69000 4.796 s
70000 4.870 s
71000 5.257 s
72000 4.778 s
73000 4.986 s
74000 4.781 s
75000 4.756 s
76000 4.713 s
77000 4.787 s
78000 5.156 s
79000 4.785 s
80000 4.766 s
81000 4.791 s
82000 4.788 s
83000 4.739 s
84000 4.787 s
85000 5.193 s
86000 4.834 s
87000 4.807 s
88000 4.763 s
89000 4.780 s
90000 4.839 s
91000 4.922 s
92000 4.779 s
93000 4.829 s
94000 4.751 s
95000 4.798 s
96000 4.890 s
97000 4.805 s
98000 4.817 s
99000 4.823 s
100000 4.797 s
101000 4.771 s
102000 4.849 s
103000 4.756 s
104000 4.763 s
105000 4.883 s
106000 4.757 s
107000 5.102 s
108000 4.892 s
109000 4.761 s
110000 4.941 s
111000 4.754 s
112000 4.770 s
113000 4.764 s
114000 4.729 s
115000 4.756 s
116000 4.851 s
117000 4.780 s
118000 4.829 s
119000 4.754 s
120000 4.719 s
121000 4.805 s
122000 5.615 s
123000 4.817 s
124000 4.760 s
125000 4.718 s
126000 4.715 s
127000 4.779 s
128000 4.735 s
129000 4.712 s
130000 4.752 s
131000 4.767 s
132000 4.719 s
133000 4.767 s
134000 4.736 s
135000 4.760 s
136000 4.770 s
137000 4.804 s
138000 4.737 s
139000 4.722 s
140000 5.325 s
141000 4.729 s
142000 4.748 s
143000 4.803 s
144000 4.710 s
145000 4.711 s
146000 4.800 s
147000 4.759 s
148000 4.762 s
149000 4.797 s
150000 4.704 s
151000 4.719 s
152000 4.714 s
153000 4.712 s
154000 4.719 s
155000 4.741 s
156000 4.714 s
157000 7.034 s
158000 5.713 s
159000 4.727 s
160000 4.696 s

ValueError: attempt to get argmax of an empty sequence

In [60]:
maxs += [-1, -1]
till_maxs += [-1, -1]
mins += [-1, -1]

In [70]:
df = ohlc.copy()
df['maxReturn'] = maxs
df['tillMax'] = till_maxs
df['minReturn'] = mins

In [ ]:
df.write_csv('D:\\Dropbox\\My work\\krypl-project\\analysis\\price-movement-within-day.tsv', sep='\t', index=False)

In [63]:
df = df[['date', 'maxReturn', 'tillMax', 'minReturn']]

In [64]:
df

                       date  maxReturn  tillMax  minReturn
228868  2017-01-01 00:00:00     0.1991     1231    -0.0072
228869  2017-01-01 00:05:00     0.2006     1230    -0.0061
228870  2017-01-01 00:10:00     0.2006     1229    -0.0061
228871  2017-01-01 00:15:00     0.1991     1228    -0.0072
228872  2017-01-01 00:20:00     0.1979     1227    -0.0083
228873  2017-01-01 00:25:00     0.1979     1226    -0.0083
228875  2017-01-01 00:30:00     0.1979     1225    -0.0083
228876  2017-01-01 00:35:00     0.2003     1224    -0.0063
228877  2017-01-01 00:40:00     0.1979     1223    -0.0083
228878  2017-01-01 00:45:00     0.1979     1222    -0.0083
228879  2017-01-01 00:50:00     0.1977     1221    -0.0084
228880  2017-01-01 00:55:00     0.1964     1220    -0.0095
228882  2017-01-01 01:00:00     0.1991     1219    -0.0072
228883  2017-01-01 01:05:00     0.1991     1218    -0.0072
228884  2017-01-01 01:10:00     0.1991     1217    -0.0072
228885  2017-01-01 01:15:00     0.2014     1216    -0.0054
228886  2017-01-01 01:20:00     0.2006     1215    -0.0061
228887  2017-01-01 01:25:00     0.1965     1214    -0.0094
228889  2017-01-01 01:30:00     0.2005     1213    -0.0061
228890  2017-01-01 01:35:00     0.1985     1212    -0.0078
228891  2017-01-01 01:40:00     0.1997     1211    -0.0068
228892  2017-01-01 01:45:00     0.1971     1210    -0.0090
228893  2017-01-01 01:50:00     0.1997     1209    -0.0068
228894  2017-01-01 01:55:00     0.1990     1208    -0.0074
228896  2017-01-01 02:00:00     0.1990     1207    -0.0074
228897  2017-01-01 02:05:00     0.1968     1206    -0.0091
228898  2017-01-01 02:10:00     0.1990     1205    -0.0074
228899  2017-01-01 02:15:00     0.1990     1204    -0.0074
228900  2017-01-01 02:20:00     0.1990     1203    -0.0074
228901  2017-01-01 02:25:00     0.1968     1202    -0.0091
...                     ...        ...      ...        ...
414745  2018-07-13 19:25:00     0.0105       10     0.0000
414746  2018-07-13 19:30:00     0.0093        9    -0.0007
414747  2018-07-13 19:35:00     0.0093        8    -0.0003
414748  2018-07-13 19:40:00     0.0086        7    -0.0009
414749  2018-07-13 19:45:00     0.0085        6    -0.0004
414750  2018-07-13 19:50:00     0.0089        5     0.0000
414751  2018-07-13 19:55:00     0.0089        4     0.0004
414752  2018-07-13 20:00:00     0.0085        3     0.0000
414753  2018-07-13 20:05:00     0.0076        2     0.0000
414754  2018-07-13 20:10:00     0.0076        1     0.0000
414755  2018-07-13 20:15:00     0.0076        0    -0.0000
414756  2018-07-13 20:20:00    -0.0002        0    -0.0037
414757  2018-07-13 20:25:00     0.0000        0    -0.0047
414758  2018-07-13 20:30:00     0.0007        0    -0.0030
414759  2018-07-13 20:35:00    -0.0009        0    -0.0027
414760  2018-07-13 20:40:00    -0.0001        0    -0.0046
414761  2018-07-13 20:45:00     0.0008        1    -0.0025
414762  2018-07-13 20:50:00     0.0016        0    -0.0013
414763  2018-07-13 20:55:00    -0.0003        0    -0.0025
414764  2018-07-13 21:00:00     0.0005        0    -0.0032
414765  2018-07-13 21:05:00     0.0002        0    -0.0052
414766  2018-07-13 21:10:00    -0.0008        1    -0.0022
414767  2018-07-13 21:15:00     0.0009        0    -0.0004
414768  2018-07-13 21:20:00    -0.0000        0    -0.0013
414769  2018-07-13 21:25:00     0.0009        0    -0.0000
414770  2018-07-13 21:30:00     0.0008        0    -0.0028
414771  2018-07-13 21:35:00     0.0000        0    -0.0032
414772  2018-07-13 21:40:00     0.0008        0    -0.0001
414773  2018-07-13 21:45:00    -1.0000       -1    -1.0000
414774  2018-07-13 21:50:00    -1.0000       -1    -1.0000

[160955 rows x 4 columns]

In [69]:
df.query('maxReturn > 0.001').shape[0] / df.shape[0]

0.9835047062843651