In [1]:
%run ../../utils/commonImports.py
%run ../../utils/tradingImports.py
%matplotlib inline

from base import supres, BaseStrategy

# Load Data

In [2]:
# dropbox_dir = 'D:\\Dropbox\\My work\\krypl-project'
dropbox_dir = '/Users/david.vesely/Dropbox/My work/krypl-project'

def read_data(pair):
    db = os.path.join(dropbox_dir,'sqlite', 'ploniex-chart-data', f'{pair}.db')
    data = load_trading_data(db, 'chart_data', from_date='2015-01-01', period='30min')
    data['ohlc4'] = (data['open'] + data['close'] + data['high'] + data['low']) / 4
    return data

In [3]:
supports_for_data_dict_test = load_model('supports-for-data-test.pkl')
supports_for_data_dict_train = load_model('supports-for-data.pkl')
supports_for_data_dict = {**supports_for_data_dict_train, **supports_for_data_dict_test}

In [4]:
features = ['support']

In [5]:
train_pairs = pd.read_csv('pairs_train.tsv', header=None)[0].tolist()
test_pairs = pd.read_csv('pairs_test.tsv', header=None)[0].tolist()
all_pairs = pd.read_csv('pairs.tsv', header=None)[0].tolist()
data_dict = {pair: read_data(pair) for pair in all_pairs}

# Parallelize

In [6]:
from multiprocessing import Pool
import time
from tqdm import *

def run_parallel(f, args, n_process=10):
    results = []
    with Pool(processes=n_process) as p:
        all_args = list(args)
        with tqdm_notebook(enumerate(p.imap_unordered(f, all_args)), leave=False, total=len(all_args)) as pbar:
            for i, x in pbar:
                results.append(x)
                pbar.update()
                
        return results

In [7]:
def dict_from_list(l):
    d = {}
    for row in l:
        d_inner = d
        for k in row[:-2]:
            if k not in d_inner.keys():
                d_inner[k] = {}
            d_inner = d_inner[k]
        d_inner[row[-2]] = row[-1]
    return d

# Multicoin strategy

In [8]:
class MulticoinStrategy():
    def __init__(self, data_dict, pairs, willing_loss, target_profit, target_return):
        self.data_dict = data_dict
        self.pairs = pairs
        self.willing_loss = willing_loss
        self.target_profit = target_profit
        self.target_return = target_return
        self.strategies = {}
        self.wallet = {'btc': 100}
    
    
    def trade_pair(self, pair):
        contract_pair = ContractPair.new(*[x.lower() for x in pair.split('_')])
        data = self.data_dict[pair]
        dm = OhlcDataManager(data[['open', 'low', 'high', 'close']], data[features])
        wallet = deepcopy(self.wallet)
        wallet[contract_pair['priceContract']] = wallet[contract_pair['priceContract']] / len(self.pairs)
        exchange = BackTestExchange(dm, wallet, 0.0025)
        strategy = BaseStrategy(exchange, 
                                dm, 
                                contract_pair, 
                                willing_loss=self.willing_loss, 
                                target_profit=self.target_profit, 
                                target_return=self.target_return)
        strategy.trade()
        return pair, strategy
    
    def trade(self):
        results = run_parallel(self.trade_pair, self.pairs)
        self.strategies = dict_from_list(results)
    
    
    def all_transactions(self):
        transactions = []
        for strategy in self.strategies.values():
            transactions += strategy.exchange.transactions
        return transactions
    
    def transactions(self, contract_name=None):
        if contract_name is None:
            return self.all_transactions()
        
        return self.strategies[contract_name].exchange.transactions
    
    def stats(self, contract_name):
        return Statistics(contract_name, self.wallet[contract_name])\
            .evaluate(self.all_transactions())

# Setup

In [9]:
window_size = 12
target_profit = 0.01
willing_loss = 0.06
target_return = -0.02

for pair in all_pairs:
    data = data_dict[pair]
    data['support'] = supports_for_data_dict[pair][window_size]

# Train Results

In [10]:
multi_strategy = MulticoinStrategy(data_dict, train_pairs, willing_loss, target_profit, target_return)
multi_strategy.trade()
multi_strategy.stats('btc').report()

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

                      btc
startAmount      100.0000
numberOfTrades 7,530.0000
totalProfit      474.4518
avgProfit          0.0630
winPercentage     95.2324
avgWinTrade        0.0987
avgLossTrade      -0.6491
profitFactor       3.0359
maxDrawdown        2.9596
avgTimeToClose     6.5676
minTimeToClose     0.0000
maxTimeToClose   442.0000

In [19]:
transactions = multi_strategy.all_transactions()

for t in transactions:
    pair = t['pair']
    price_c = pair['priceContract'].upper()
    trade_c = pair['tradeContract'].upper()
    pair = f'{price_c}_{trade_c}'
    data = data_dict[pair]
    
    t['timestamp'] = data['timestamp'].iloc[t['timestamp']]
    break

In [20]:
transactions[0]

{'type': 'BUY',
 'pair': {'priceContract': 'btc', 'tradeContract': 'ardr'},
 'timestamp': 1477004400,
 'amount': 141987.82961460444,
 'price': 2.38e-05,
 'fee': 0.008448275862068965}

In [17]:
data\

,timestamp,period,open,high,low,close,volume,quoteVolume,weightedAverage,date,ohlc4,support
0,1476666000,30min,0.0500,0.0500,0.0500,0.0500,0.0001,0.0020,0.0500,2016-10-17 01:00:00,0.0500,nan
1,1476667800,30min,0.0000,0.0001,0.0000,0.0000,63.0028,"1,793,555.4010",0.0000,2016-10-17 01:30:00,0.0000,nan
2,1476669600,30min,0.0000,0.0001,0.0000,0.0000,162.6505,"3,679,260.0040",0.0000,2016-10-17 02:00:00,0.0000,nan
3,1476671400,30min,0.0000,0.0000,0.0000,0.0000,225.4817,"5,059,261.4318",0.0000,2016-10-17 02:30:00,0.0000,nan
4,1476673200,30min,0.0000,0.0000,0.0000,0.0000,195.4411,"5,099,093.0827",0.0000,2016-10-17 03:00:00,0.0000,nan
5,1476675000,30min,0.0000,0.0000,0.0000,0.0000,67.7008,"1,774,996.4818",0.0000,2016-10-17 03:30:00,0.0000,nan
6,1476676800,30min,0.0000,0.0000,0.0000,0.0000,29.8129,"766,691.7097",0.0000,2016-10-17 04:00:00,0.0000,nan
7,1476678600,30min,0.0000,0.0000,0.0000,0.0000,57.1985,"1,586,788.4388",0.0000,2016-10-17 04:30:00,0.0000,nan
8,1476680400,30min,0.0000,0.0000,0.0000,0.0000,60.0141,"1,807,989.6187",0.0000,2016-10-17 05:00:00,0.0000,nan
9,1476682200,30min,0.0000,0.0000,0.0000,0.0000,29.8723,"917,245.5373",0.0000,2016-10-17 05:30:00,0.0000,nan
10,1476684000,30min,0.0000,0.0000,0.0000,0.0000,36.1976,"1,118,069.2660",0.0000,2016-10-17 06:00:00,0.0000,nan
11,1476685800,30min,0.0000,0.0000,0.0000,0.0000,72.4071,"2,370,878.2656",0.0000,2016-10-17 06:30:00,0.0000,nan
12,1476687600,30min,0.0000,0.0000,0.0000,0.0000,63.4487,"2,041,462.1855",0.0000,2016-10-17 07:00:00,0.0000,nan
13,1476689400,30min,0.0000,0.0000,0.0000,0.0000,43.0795,"1,311,183.7470",0.0000,2016-10-17 07:30:00,0.0000,nan
14,1476691200,30min,0.0000,0.0000,0.0000,0.0000,47.5439,"1,467,402.3732",0.0000,2016-10-17 08:00:00,0.0000,nan
15,1476693000,30min,0.0000,0.0000,0.0000,0.0000,21.5369,"665,565.7719",0.0000,2016-10-17 08:30:00,0.0000,nan
16,1476694800,30min,0.0000,0.0000,0.0000,0.0000,40.5879,"1,279,458.9028",0.0000,2016-10-17 09:00:00,0.0000,nan
17,1476696600,30min,0.0000,0.0000,0.0000,0.0000,15.8857,"508,529.0526",0.0000,2016-10-17 09:30:00,0.0000,nan
18,1476698400,30min,0.0000,0.0000,0.0000,0.0000,16.1991,"527,246.4547",0.0000,2016-10-17 10:00:00,0.0000,nan
19,1476700200,30min,0.0000,0.0000,0.0000,0.0000,34.9798,"1,201,504.8019",0.0000,2016-10-17 10:30:00,0.0000,nan
20,1476702000,30min,0.0000,0.0000,0.0000,0.0000,57.9241,"2,106,907.1003",0.0000,2016-10-17 11:00:00,0.0000,nan
21,1476703800,30min,0.0000,0.0000,0.0000,0.0000,21.8493,"792,880.4988",0.0000,2016-10-17 11:30:00,0.0000,nan
22,1476705600,30min,0.0000,0.0000,0.0000,0.0000,41.0423,"1,551,060.2013",0.0000,2016-10-17 12:00:00,0.0000,nan
23,1476707400,30min,0.0000,0.0000,0.0000,0.0000,17.2929,"664,119.9564",0.0000,2016-10-17 12:30:00,0.0000,nan
24,1476709200,30min,0.0000,0.0000,0.0000,0.0000,6.9826,"267,446.5490",0.0000,2016-10-17 13:00:00,0.0000,nan
25,1476711000,30min,0.0000,0.0000,0.0000,0.0000,41.9209,"1,546,603.0989",0.0000,2016-10-17 13:30:00,0.0000,0.0000
26,1476712800,30min,0.0000,0.0000,0.0000,0.0000,22.7603,"842,844.7949",0.0000,2016-10-17 14:00:00,0.0000,0.0000
27,1476714600,30min,0.0000,0.0000,0.0000,0.0000,3.0031,"112,630.6525",0.0000,2016-10-17 14:30:00,0.0000,0.0000
28,1476716400,30min,0.0000,0.0000,0.0000,0.0000,8.3764,"309,683.4751",0.0000,2016-10-17 15:00:00,0.0000,0.0000
29,1476718200,30min,0.0000,0.0000,0.0000,0.0000,20.8398,"751,154.9891",0.0000,2016-10-17 15:30:00,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
43292,1554591600,30min,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2019-04-06 23:00:00,0.0000,0.0000
43293,1554593400,30min,0.0000,0.0000,0.0000,0.0000,0.0215,"1,227.3627",0.0000,2019-04-06 23:30:00,0.0000,0.0000
43294,1554595200,30min,0.0000,0.0000,0.0000,0.0000,0.0029,167.3684,0.0000,2019-04-07 00:00:00,0.0000,0.0000
43295,1554597000,30min,0.0000,0.0000,0.0000,0.0000,0.0688,"3,908.7200",0.0000,2019-04-07 00:30:00,0.0000,0.0000
43296,1554598800,30min,0.0000,0.0000,0.0000,0.0000,0.4283,"24,232.3580",0.0000,2019-04-07 01:00:00,0.0000,0.0000
43297,1554600600,30min,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2019-04-07 01:30:00,0.0000,0.0000
43298,1554602400,30min,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2019-04-07 02:00:00,0.0000,0.0000
43299,1554604200,30min,0.0000,0.0000,0.0000,0.0000,0.0374,"2,128.1878",0.0000,2019-04-07 02:30:00,0.0000,0.0000
43300,1554606000,30min,0.0000,0.0000,0.0000,0.0000,0.0320,"1,832.2252",0.0000,2019-04-07 03:00:00,0.0000,0.0000
43301,1554607800,30min,0.0000,0.0000,0.0000,0.0000,0.0138,800.0000,0.0000,2019-04-07 03:30:00,0.0000,0.0000
43302,1554609600,30min,0.0000,0.0000,0.0000,0.0000,0.0001,7.3684,0.0000,2019-04-07 04:00:00,0.0000,0.0000
43303,1554611400,30min,0.0000,0.0000,0.0000,0.0000,0.0503,"2,890.1734",0.0000,2019-04-07 04:30:00,0.0000,0.0000
43304,1554613200,30min,0.0000,0.0000,0.0000,0.0000,0.0018,105.9602,0.0000,2019-04-07 05:00:00,0.0000,0.0000
43305,1554615000,30min,0.0000,0.0000,0.0000,0.0000,0.1437,"8,228.9040",0.0000,2019-04-07 05:30:00,0.0000,0.0000
43306,1554616800,30min,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2019-04-07 06:00:00,0.0000,0.0000
43307,1554618600,30min,0.0000,0.0000,0.0000,0.0000,0.0090,519.1300,0.0000,2019-04-07 06:30:00,0.0000,0.0000
43308,1554620400,30min,0.0000,0.0000,0.0000,0.0000,0.0013,78.0000,0.0000,2019-04-07 07:00:00,0.0000,0.0000
43309,1554622200,30min,0.0000,0.0000,0.0000,0.0000,0.0014,77.9425,0.0000,2019-04-07 07:30:00,0.0000,0.0000
43310,1554624000,30min,0.0000,0.0000,0.0000,0.0000,0.0693,"3,960.4860",0.0000,2019-04-07 08:00:00,0.0000,0.0000
43311,1554625800,30min,0.0000,0.0000,0.0000,0.0000,0.0190,"1,083.0467",0.0000,2019-04-07 08:30:00,0.0000,0.0000
43312,1554627600,30min,0.0000,0.0000,0.0000,0.0000,0.0002,14.1050,0.0000,2019-04-07 09:00:00,0.0000,0.0000
43313,1554629400,30min,0.0000,0.0000,0.0000,0.0000,0.0024,135.8880,0.0000,2019-04-07 09:30:00,0.0000,0.0000
43314,1554631200,30min,0.0000,0.0000,0.0000,0.0000,0.0066,375.2955,0.0000,2019-04-07 10:00:00,0.0000,0.0000
43315,1554633000,30min,0.0000,0.0000,0.0000,0.0000,0.0054,309.0746,0.0000,2019-04-07 10:30:00,0.0000,0.0000
43316,1554634800,30min,0.0000,0.0000,0.0000,0.0000,1.3671,"78,148.6098",0.0000,2019-04-07 11:00:00,0.0000,0.0000
43317,1554636600,30min,0.0000,0.0000,0.0000,0.0000,0.0031,179.0619,0.0000,2019-04-07 11:30:00,0.0000,0.0000
43318,1554638400,30min,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2019-04-07 12:00:00,0.0000,0.0000
43319,1554640200,30min,0.0000,0.0000,0.0000,0.0000,0.0003,18.3641,0.0000,2019-04-07 12:30:00,0.0000,0.0000
43320,1554642000,30min,0.0000,0.0000,0.0000,0.0000,0.0223,"1,284.4364",0.0000,2019-04-07 13:00:00,0.0000,0.0000
43321,1554643800,30min,0.0000,0.0000,0.0000,0.0000,0.0337,"1,931.2734",0.0000,2019-04-07 13:30:00,0.0000,0.0000

# Test Results

In [11]:
multi_strategy = MulticoinStrategy(data_dict, test_pairs, willing_loss, target_profit, target_return)
multi_strategy.trade()
multi_strategy.stats('btc').report()

HBox(children=(IntProgress(value=0, max=29), HTML(value='')))

                      btc
startAmount      100.0000
numberOfTrades 7,303.0000
totalProfit      554.1265
avgProfit          0.0759
winPercentage     95.4676
avgWinTrade        0.1177
avgLossTrade      -0.8052
profitFactor       3.0791
maxDrawdown        4.7714
avgTimeToClose     7.1464
minTimeToClose     0.0000
maxTimeToClose   480.0000