In [1]:
from utils.common import *

# Get Data

In [2]:
import urllib.request
import json


def retrieve(url):
    with urllib.request.urlopen(url) as response:
        html = response.read().decode("utf-8")
        data = json.loads(html)
    return data

In [3]:
def query_chart_data(begin_datetime, end_datetime, pair, period):
    begin, end = int(begin_datetime.timestamp()), int(end_datetime.timestamp())
    url = f'https://poloniex.com/public?command=returnChartData&currencyPair={pair}&start={begin}&end={end}&period={period}'
    return retrieve(url)

In [4]:
from dateutil.rrule import rrule, YEARLY, MONTHLY
from dateutil.relativedelta import relativedelta
from time import sleep


def retrieve_long_window(begin_time, end_time, pair, period):
    begin, end = str_time_to_datetime(begin_time, end_time)
    data = []
    for dt in rrule(YEARLY, dtstart=begin, until=end):
        dt2 = dt+relativedelta(years=1)
        data += query_chart_data(dt, dt2, pair, period)
        sleep(1)
    
    return data

In [5]:
def rename_date_to_timestamp(df):
    return df.rename(columns={'date': 'timestamp'})

In [6]:
def poloniex_data_to_df(data):
    df = pd.DataFrame(data)
    df = rename_date_to_timestamp(df).query('timestamp > 0')
    df = reset_index_hard(df)
    df['date'] = df['timestamp'].apply(timestamp_to_date)
    return df.drop_duplicates()

# Download Chart Data

In [7]:
from sqlite3 import connect

def create_table(table_name, conn):
    sql_create = f"""
    CREATE TABLE IF NOT EXISTS {table_name} (
            timestamp       BIGINT,
            period          STRING,
            open            DOUBLE,
            high            DOUBLE,
            low             DOUBLE,
            close           DOUBLE,
            volume          DOUBLE,
            quoteVolume     DOUBLE,
            weightedAverage DOUBLE,
            date            DATETIME,
            PRIMARY KEY (
                timestamp,
                period
            )
        );
    """

    conn.execute(sql_create);
    

def remove_duplicates_of_timestamp(df):
    data = df.copy()
    diffs = data['timestamp'].shift(-1) - data['timestamp']
    data['timestampDiff'] = diffs
    zero_diff = data.query('timestampDiff == 0')
    data_dropped_duplicates = reset_index_hard(df.drop(zero_diff.index))
    return data_dropped_duplicates

def write_sql(df, db, table_name):
    conn = connect(db)
    create_table(table_name, conn)
    
    key_cols = ['timestamp', 'period']
    old = read_table(table_name, db, conn)
    keys = old.append(df, sort=True)\
        .groupby(key_cols)\
        .count()\
        .query('close == 1')\
        .reset_index()[key_cols]
    not_in_db = df.merge(keys, on=key_cols, how='inner')
    not_in_db.to_sql(table_name, conn, if_exists='append', index=False)
    
    all_data = read_table(table_name, db, conn)
    all_data = remove_duplicates_of_timestamp(all_data)
    all_data.to_sql(table_name, conn, if_exists='replace', index=False)

In [8]:
def retrieve_and_save(pair, start_time, end_time, interval, interval_str):
    data = retrieve_long_window(start_time, end_time, pair, interval)
    df = poloniex_data_to_df(data)
    df['period'] = interval_str
    
    db_root = "D:\\Dropbox\\My work\\krypl-project\\sqlite\\ploniex-chart-data"
    db = f"{db_root}\\{pair}.db"
    write_sql(df, db, 'chart_data')

In [18]:
start_time, end_time = '2016-01-01 00:00:00', '2016-01-03 00:00:00'
interval, interval_str = 300, '5min'
pairs = [
    'USDT_BTC',
#     'BTC_ETH',
#     'BTC_LTC',
#     'BTC_XRP',
#     'BTC_XMR',
#     'BTC_STR'
]

In [19]:
for pair in pairs:
    print(pair, end='\t')
    retrieve_and_save(pair, start_time, end_time, interval, interval_str)
    print('done')

USDT_BTC	https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1451602800&end=1483225200&period=300
done

# TMP

In [12]:
begin_datetime = dt.datetime(2016, 1 , 1)
end_datetime = dt.datetime(2016, 1, 3)
period = 300

data = query_chart_data(begin_datetime, end_datetime, pair, period)

https://poloniex.com/public?command=returnChartData&currencyPair=USDT_BTC&start=1451602800&end=1451775600&period=300

In [14]:
data = poloniex_data_to_df(data)

In [15]:
data

,close,timestamp,high,low,open,quoteVolume,volume,weightedAverage,date
0,430.573150,1451602800,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:00:00
1,430.573150,1451603100,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:05:00
2,430.573150,1451603400,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:10:00
3,430.573150,1451603700,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:15:00
4,430.573150,1451604000,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:20:00
5,430.573150,1451604300,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:25:00
6,430.573150,1451604600,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:30:00
7,430.573150,1451604900,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:35:00
8,430.573150,1451605200,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:40:00
9,430.573150,1451605500,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:45:00
10,430.573150,1451605800,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:50:00
11,430.573150,1451606100,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2015-12-31 23:55:00
12,430.573150,1451606400,430.573150,430.573150,430.573150,0.000000,0.000000,430.573150,2016-01-01 00:00:00
13,428.260002,1451606700,428.260002,428.260002,428.260002,0.178774,76.561788,428.260002,2016-01-01 00:05:00
14,428.260002,1451607000,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:10:00
15,428.260002,1451607300,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:15:00
16,428.260002,1451607600,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:20:00
17,428.260002,1451607900,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:25:00
18,428.260002,1451608200,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:30:00
19,428.260002,1451608500,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:35:00
20,428.260002,1451608800,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:40:00
21,428.260002,1451609100,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:45:00
22,428.260002,1451609400,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:50:00
23,428.260002,1451609700,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 00:55:00
24,428.260002,1451610000,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 01:00:00
25,428.260002,1451610300,428.260002,428.260002,428.260002,0.000000,0.000000,428.260002,2016-01-01 01:05:00
26,430.804223,1451610600,430.804223,430.804223,430.804223,0.004619,1.990010,430.804223,2016-01-01 01:10:00
27,430.804223,1451610900,430.804223,430.804223,430.804223,0.002310,0.995003,430.804223,2016-01-01 01:15:00
28,430.804223,1451611200,430.804223,430.804223,430.804223,0.000000,0.000000,430.804223,2016-01-01 01:20:00
29,430.804223,1451611500,430.804223,430.804223,430.804223,0.002332,1.004627,430.804223,2016-01-01 01:25:00
...,...,...,...,...,...,...,...,...,...
524,432.220000,1451760000,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 18:40:00
525,432.220000,1451760300,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 18:45:00
526,432.220000,1451760600,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 18:50:00
527,432.220000,1451760900,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 18:55:00
528,432.220000,1451761200,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:00:00
529,432.220000,1451761500,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:05:00
530,432.220000,1451761800,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:10:00
531,432.220000,1451762100,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:15:00
532,432.220000,1451762400,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:20:00
533,432.220000,1451762700,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:25:00
534,432.220000,1451763000,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:30:00
535,432.220000,1451763300,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:35:00
536,432.220000,1451763600,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:40:00
537,432.220000,1451763900,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:45:00
538,432.220000,1451764200,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:50:00
539,432.220000,1451764500,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 19:55:00
540,432.220000,1451764800,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:00:00
541,432.220000,1451765100,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:05:00
542,432.220000,1451765400,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:10:00
543,432.220000,1451765700,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:15:00
544,432.220000,1451766000,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:20:00
545,432.220000,1451766300,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:25:00
546,432.220000,1451766600,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:30:00
547,432.220000,1451766900,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:35:00
548,432.220000,1451767200,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:40:00
549,432.220000,1451767500,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:45:00
550,432.220000,1451767800,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:50:00
551,432.220000,1451768100,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 20:55:00
552,432.220000,1451768400,432.220000,432.220000,432.220000,0.000000,0.000000,432.220000,2016-01-02 21:00:00
553,436.949900,1451768700,436.949900,436.949900,436.949900,0.017209,7.519650,436.949900,2016-01-02 21:05:00

In [16]:
diffs = data['timestamp'].shift(-1) - data['timestamp']
data['timestampDiff'] = diffs

In [17]:
diffs.value_counts()

300.0    553
Name: timestamp, dtype: int64