In [2]:
%run ./../../utils/commonImports.py
%matplotlib inline

# Load Data

In [3]:
df_all = read_tsv('D:\\Dropbox\\My work\\krypl-project\\analysis\\return-01-within-day.tsv')
df = df_all[['date', 'maxReturn', 'tillMax', 'minReturn']].head(df_all.shape[0] - 2)

In [4]:
df.query('maxReturn >= 0.01').shape[0] / df.shape[0]

0.6793332284125485

# Timestamp diff

In [5]:
data = df_all.copy()
diffs = data['timestamp'].shift(-1) - data['timestamp']
data['timestampDiff'] = diffs

In [6]:
diffs.value_counts()

300.0000    381241
Name: timestamp, dtype: int64

In [7]:
zero_diff = data.query('timestampDiff == 1200')
zero_diff

Empty DataFrame
Columns: [timestamp, period, open, high, low, close, volume, quoteVolume, weightedAverage, date, maxReturn, tillMax, minReturn, timestampDiff]
Index: []

# Basic Stats

In [8]:
query = '(maxReturn > 0.01)'
df_true = df.query(query)
df_false = df.query(f'not {query}')

In [9]:
df_true.describe()

         maxReturn      tillMax    minReturn
count 258,989.0000 258,989.0000 258,989.0000
mean        0.0155      74.8619      -0.0094
std         0.0149      74.1506       0.0155
min         0.0100       0.0000      -0.5803
25%         0.0109      15.0000      -0.0124
50%         0.0124      47.0000      -0.0049
75%         0.0158     116.0000      -0.0006
max         1.4607     286.0000       1.4607

In [10]:
df_false.describe()

         maxReturn      tillMax    minReturn
count 122,251.0000 122,251.0000 122,251.0000
mean       -0.0216     285.6666      -0.0397
std         0.0309       7.9587       0.0487
min        -0.3259       1.0000      -0.6320
25%        -0.0305     286.0000      -0.0498
50%        -0.0111     286.0000      -0.0255
75%        -0.0013     286.0000      -0.0118
max         0.0100     286.0000       0.0044